.vs/
Library/
plugins/
ProjectSettings/
Temp/
*.dll
*.csproj
*.sln
*.meta
*.VC.db
Assets/Config/Sounds/Drum2.wav
Assets/Config/Sounds/son220.wav
Assets/Config/Sounds/Pipiou2.wav
Assets/Config/Sounds/son150.wav
