# One name per person in git shortlog / log. Commits were made from several machines and
# accounts over the years (Windows host names, INSERM, Outlook, GitHub web merges).
Florian Sipp <florian.sipp@gmail.com>
Florian Sipp <florian.sipp@gmail.com> <florian.sipp@inserm.fr>
Florian Sipp <florian.sipp@gmail.com> <florian.sipp@outlook.com>
Florian Sipp <florian.sipp@gmail.com> <72794896+floriansipp@users.noreply.github.com>
